h1 {
    color: blue;
}

a {
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #04373a;
    color: #e5dfa3;
}

a:hover {
    background-color: #378673;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

table {
    width: 75%;
    border-collapse: collapse;
}

td,
th {
    padding: 5px;
    border: 1px solid black;
}

tr:hover {
    background-color: #378673;
}

th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: #b42d1c;
    color: #c09554;
}

.form-group, .form-group-check {
    width: 100%;
    margin-bottom: 10px;
}

.form-group label {
    display: block;
}

.form-group input {
    display: block;
    width: 100%;
}